@model System.String
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <select id="plugins" name="plugins">
                @foreach (var pluginPath in PluginManager.Instance.Plugins)
                {
                    <option value="@pluginPath">@pluginPath</option>
                }
            </select>
            <p style="background-color:lightyellow;">
                @Model
            </p>
            <input type="submit" value="Execute Plugin" />
        }
    </div>
</body>
</html>
